@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 1em;
  display: none;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #19d3ae;
  outline: 1px solid #19d3ae;
}
.primary-color {
  color: #19d3ae;
}
.active {
  background-color: 19d3ae;
}
.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.ptb-70 {
  padding: 70px 0px;
}

p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.shadow {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.primary-color {
  color: #19d3ae;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
